/*============================================ HEADER RESPONSIVE  =======================================*/
@media screen and (max-width: 1024px) {
  .logo {
    left: 100px;
  }

  nav {
    left: 250px;
  }
}

@media screen and (max-width: 845px) {
  .logo {
    left: 220px;
  }

  nav a {
    padding: 0px 10px;
  }
}

/*====================================== MAIN RESPONSIVE  =============================*/
@media screen and (max-width: 1024px) {
  .main-text-container-on-img {
    left: 40px;
  }
}

/*============================================ MAIN CONTENT RESPONSIVE  ==============================================*/
@media screen and (max-width: 1024px) {
  .main-content-wrapper {
    padding: 25px;
  }

  .main-content p {
    font-size: 27px;
    line-height: 2.6rem;
  }

  .main-content-info {
    margin-left: 0px;
  }
}

/*============================================== TRAINING COURSE RESPONSIVE  ===========================================*/
@media screen and (max-width: 1024px) {
  .training-courses-header h2 {
    text-align: center;
  }

  .all-items {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 660px) {
  .training-courses-item {
    width: 250px;
  }
}

/*============================================== PROJECT PARTNERS RESPONSIVE  ===========================================*/
@media screen and (max-width: 1200px) {
  .project-partners-header h4 {
    text-align: center;
  }

  .arrow-left {
    left: 20px;
  }

  .arrow-right {
    right: 20px;
  }

  .first-logo-row img,
  .second-logo-row img,
  .third-logo-row img {
    width: 227px;
    height: 71px;
  }
}

@media screen and (max-width: 1045px) {
  .first-logo-row,
  .second-logo-row {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
  }

  .third-logo-row {
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    margin-left: 0;
    top: 100px;
    justify-content: center;
  }

  .three-dots {
    margin-top: 400px;
  }

  .arrow-right {
    top: 180px;
    right: 20px;
  }

  .arrow-left {
    top: 180px;
    left: 20px;
  }
}

/*============================================== QUESTION RESPONSIVE  =======================================*/
@media screen and (max-width: 1024px) {
  .questions-header,
  .question {
    width: 90%;
    margin: auto;
  }

  .answer {
    width: 85%;
    margin: auto;
    margin-top: 30px;
  }
}

/*============================================= FOOTER RESPONSIVE  =========================================*/
@media screen and (max-width: 1024px) {
  .footer {
    padding: 0px 50px;
  }
}
